.helpIcon {
  width: 100%;
  margin-top: 3%;
}
.Iconbutton {
  text-align: right;
  margin-right: 3%;
}

/* content */
.App {
  text-align: center;
  justify-content: center;
}
.button {
  margin-left: 5%;
}
.logo {
  width: 25%;
  height: 90%;
}
.inputField {
  margin-left: 30%;
  margin-right: 30%;
}
.inputerror {
  margin: 1%;
  margin-left: 40%;
  margin-right: 40%;
}

@media screen and (max-width: 350px) {
  .logo {
    width: 30%;
    height: 100%;
  }
  .inputField {
    margin-left: 5%;
    margin-right: 5%;
  }
  .inputerror {
    margin: 1%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (max-width: 768px) {
  .App {
    margin-top: 25%;
  }
  .logo {
    width: 70%;
    height: 90%;
  }
  .inputField {
    margin-left: 10%;
    margin-right: 10%;
    margin: 5%;
  }
  .inputerror {
    margin: 1%;
    margin-left: 25%;
    margin-right: 25%;
  }
}
